app {
    .result{
        span{
            display: block;
        }
    }
    section{
        display: inline-block;
    }
            section + section{
            margin-left: 15px;
        }
}
button {
    border: 4px double black;
    letter-spacing: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
}
.boxed {
    background-color: gray;
    opacity: 0.95;
    filter: alpha(opacity=95);
    display: inline-block;
    width: 100%;
    border: 4px double black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 5px;
    margin-top: 20px;
}
.container {
    display: inline-flex;
    width: 100%;
}

body{
    background-color: #AB9F94;
}

.center{
    margin: auto;
    width: 75%;
    padding: 10px;
}