<div class="center">
<div class="container">

<div class="boxed">
    <center><h2>Father</h2></center>
    <hr>
<section class = "father">
   <h4>Breed</h4>
        <breeds-list data-parent="father"></breeds-list>
    <h4>Base Coat</h4>
        <skins-list data-parent="father"></skins-list>
        <h4>Markings</h4>
        <markings-list data-parent="father"></markings-list>
</section>
</div>
<div class="boxed">
    <center><h2>Mother</h2></center>
    <hr>
<section class = "mother">
    <h4>Breed</h4>
<breeds-list data-parent="mother"></breeds-list>
    <h4>Base Coat</h4>
    <skins-list data-parent="mother"></skins-list>
    <h4>Markings</h4>
    <markings-list data-parent="mother"></markings-list>
</section>
</div>
<br>
<div class="boxed">
<section class="result">
    <div>
        <section>
            <button data-ng-click="$ctrl.generate()" data-ng-disabled="!$ctrl.checkCanGenerate()" div-align="center">ROLL NORMAL</button>
        </section>
        <br>
        <section>
            <button data-ng-click="$ctrl.generateRandom()" div-align="center">ROLL RANDOM</button>
        </section>
        <br>
        <section>
            <button data-ng-click="$ctrl.generateLimitedRandom()" div-align="center">ROLL LIMITED RANDOM</button>
        </section>
        <br>
        <br>
        <section>
            <label><input type ="checkbox" ng-click="$ctrl.togglePlusOne()"> Fertility Treatment</label>   <label><input type ="checkbox" ng-click="$ctrl.togglePlusOne()"> Plump Heart</label>
        </section>
        <result-display data-ng-repeat="character in $ctrl.result track by $index" data-id="{{$index + 1}}" data-character="character"></result-display>
    </div>
    </div>
    </div>
<br>
<br>
</div>
<center>Roller designed by Dethmisu for Nidheim</center>