wings-list{
    label {
    border: 2px solid black;
    display: inline-block;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    }
    display: inline-block;
}