<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title>Nidheim</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="http://fountainjs.io/assets/imgs/fountain.png" />
        <% // The html-webpack-plugin automatically places any CSS bundle here. %>
    </head>

    <body data-ng-app="app">
        <app></app>
        <% %>
    </body>
</html>
