<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title>Nephilim Breeding Roller</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="https://www.mordil.info" />
        <% // The html-webpack-plugin automatically places any CSS bundle here. %>
    </head>

    <body data-ng-app="app">
        <app></app>
        <% %>
    </body>
</html>
